<form id="login" method="post">
    <input type="text" name="email" placeholder="Enter Email" required>
    <br><br>
    <input type="password" name="password" placeholder="Enter Password"  required>
    <br><br>
    <input type="submit" value="Login">
 
    <p>Not a member? <a href="#">Signup now</a>.</p>
</form>


<script type="text/javascript">
const formLogin = document.querySelector('#login')

formLogin.addEventListener('submit', event => {
    event.preventDefault()

    const formData = new FormData(formLogin)
    const formDataJSON = JSON.stringify(Object.fromEntries(formData))

    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    var requestOptions = {
    method: 'POST',
    headers: myHeaders,
    body: formDataJSON
    };

    fetch('http://localhost:3000/login', requestOptions)
    .then(response => response.json())
    .then(data => saveToken(data));

}

function saveToken(data) {
    if (data.token) {
        localStorage.setItem('token', data.token)
    }
    else {
        alert(data.message)
    }
}

</script>
